*{
    margin: 0;
    padding: 0;
    box-sizing: none;
}
body{
    background-color: #e7f0dc;
}
.cabecalho{
    color:  #009140;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}
a{
    text-decoration: none;
    color: #009140;
   
 
}
.section--beneficios{
    margin-top: 20rem;
}
a:hover{
    opacity: .5;
       
}
 
 
.imgNutri{
    display: flex;
 
   
}
 
.navHeader{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
   
   
   
}
.rodape{
    color:  #009140;
    margin-left: 20rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
   
}
.section--rodape{
    margin-top: 10rem;
    
}
 
.cardArthur, .cardJoao, .cardJonathan, .cardMaria{
    width: 20rem;
    height: 20rem;
    align-items: left;
    text-align: left;
 
 
}
 
.card-img-top2{
    width: 15rem;
    height: 13rem;
}
.icons{
    width:2.5rem;
    height:2.5rem;
    align-items: center;    
   
}
.table, tr, td{
    border: none;
    align-items: center;
    text-align: center;
   
}
.p1{
    font-family: "Lilita One", sans-serif;
    font-size: 3rem;
   
    margin-bottom: 2rem;       
    
    text-align: center;
    color: black;
 
}
 
 
.txtPagina2{
    display: flex;
    flex-direction: row;
    color: black;
    padding-left: 5rem;
    justify-content: space-between;
}
 
.section--central{
    display: flex;
    flex-direction: row;
    color: black;
    padding-left: 5rem;
    justify-content: space-between;
   
    
   
 
}
.imgCelular{
   width: 20rem;
   height: 100%;
   margin-right: 10rem;
 
}
.section--img{
    display: flex;
    align-items: end;
 
}
.section--texto{
    margin-top: 2.5rem;
    margin-right: 10rem;
}
 
.txtPrincipal{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}
 
.txtPrincipal2{
    font-family: "Lilita One", sans-serif;
    display: flex;
    font-size: 4rem;
    margin-top: 3rem;
    color: black;
    justify-content: center;  
    text-align: center;
}
 
.txtSecundario{
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-top: 2rem;
}
 
.card-body{
    background-color: #009140;
}
 
.txtPagina2{
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-top: 2rem;
}
 
.saibaMais{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
 
.cards{
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;
    margin: 3rem;
    
}
.card{
    color: rgb(0, 0, 0);
    font-family: "Questrial", sans-serif;
   
    
}
.card-title{
    color: rgb(0, 0, 0);
    font-family: "Lilita One", sans-serif;  
}
 
.card1{
    width: 25rem;  
    height: 25rem;
 
}
.txtNomes{
    color: rgb(0, 0, 0);
    font-family: "Lilita One", sans-serif;  
    padding-top: 1rem;
    padding-left: 3rem;
    font-size: 1.5  rem;
}
 
.card2{
    width: 25rem;  
    height: 25rem;
}
 
.card3{
    width: 25rem;  
    height: 25rem;
}
 
.card4{
    width: 25rem;  
    height: 25rem;
}
 
@media screen and (max-width: 768px) {
    .navHeader {
        flex-direction: row;
        padding-top: 3rem;
        gap: 0.5rem;
        font-size: 1rem;
        height: 3rem;
        padding-bottom: 2rem;
    }  
 
    .txtPrincipal {
        font-size: 2rem;
        align-items: center ;
    }
    .txtPrincipal2{
        font-size: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .txtPagina2{
        font-size: 1.2rem;
        padding-left: 2rem;
        padding-right: 1rem;
    }
 
    .section--central {
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
    }
    .section--img {
        padding-right: 2rem;
    }
 
    .txtSecundario {
        font-size: 1.2rem;
    }
 
    .imgCelular {
        max-width: 100%;
        height: auto;
    }
 
    .cards {
        flex-direction: column;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 2rem;
        margin-top: 0;
        margin: 1rem;
 
    }
    .card1{
        width: 20rem;  
        height: 100%;
   
    }
   
    .card2{
        width: 20rem;  
        height: 100%;
    }
   
    .card3{
        width: 20rem;  
        height: 100%;
    }
   
    .card4{
        width: 20rem;  
        height: 100%;
    }
    .p1 {
        font-size: 1.2rem;
        margin-bottom: 2rem;        
        margin-left: 1rem;
    }
    .tbCards{
        display: flex;
       
       
    }
    .section--card{
       
        flex-direction: row;
       
    }
    .section--card2{
        flex-direction: row;
    }
    .rodape{
        display: flex;
       
    }
    .cardArthur, .cardJoao, .cardJonathan, .cardMaria{
        width: 10rem;
        height: 20rem;
        align-items: left;
        text-align: left;
    }
    .icons{
        width:2rem;
        height:2rem;
        align-items: center;
        text-align: center;
    }
    .card-img-top2{
        width: 5rem;
        height: 5rem;
    }
    .txtNomes{
        font-size: 0.5rem;
        align-items: center;
        text-align: center;
    }
}